<div class="container">
    <h2>Ultimos Proyectos:</h2>
    <p>projects works!</p>
    <section>
        <div class="dflex">
            <img src="imgs/porject-GestionFinanzas.png" alt="project1-image">
            <div class="project-info-box">
                <h4>Gestor de Finanzas</h4>
                <p>Sistema de gestión de finanzas personales creado con tecnologías .NET, permite al usuario registrar ingresos y egresos, organizarlos por categorías y cuentas, visualizarlos en tablas o calendario, y obtener reportes en Excel</p>
            </div>
        </div>
    </section>
</div>