<section class="box-info d-flex justify-content-center">
    <div class=" ">
        <div class="info-text-box">
            <h2>Hola soy <span>Lorenz</span>Dev</h2>
            <p>
                Mi nombre es Lorenzo Sanchez, soy desarrollador y diseñador gráfico.
            </p>
            <p>
                Te ayudo a llevar tu idea al mundo real, con diseños de <span>Alto impacto</span>.
            </p>
        </div>
    </div>
    <div class="">
        <div class="info-img-box">
            <img class="profile-img" src="../../../assets/imgs/foto-info.png" alt="foto">
        </div>
    </div>
</section>
